@import '../../../../assets/scss/global.scss';

.Comments{
    display: grid;
    grid-gap: 1em;

    .noComments{
        color: $dangerColor;
    }

    button{
        justify-self: center;
    }

    @media($breakpoint1){
        grid-template-columns: 1fr 1fr;
        
        button{
            justify-self: flex-end;
        }
    }    
}