@import '../../../assets/scss/global.scss';

.Skit{
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    background: $secBkg;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    img{
        max-width: 100%;
        width: 100%;
        border: 2px solid transparent;
    }

    h4{
        padding: 1em;
        @media($breakpoint1){
            font-size: 1.25em
        }    
    }

    &:hover, &.active{
        z-index: 100;

        @media($breakpoint1){
            transform: scale(1.05);
        }

        h4{
            color: $brandColor;
        }
    }

    &:nth-child(16n + 1){
        grid-column: span 2;
        grid-row: span 2;

        h4{
            @media($breakpoint1){
                font-size: 2.5em
            }    
        }
    }

}