@import '../../../assets/scss/global.scss';

@keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    25% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
  }

.Cover{
    height: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }

    .Slide{
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        animation: imageAnimation 20s linear infinite;

        &:nth-child(2){
            animation-delay: 10s;
        }
    }

    .Info{
        z-index: 1;
        color: #fff;
        font-weight: 100;
        margin: 2em;
        text-align: center;

        > * {
            margin: 0 0 1em;
        }

        @media($breakpoint1){
            font-size: 1.5em;
        }
    }

    @media($breakpoint1){
        height: 80vh;
        background-attachment: fixed;
    }

}