@import '../../../assets/scss/global.scss';

.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: $mainBkg;
    overflow: hidden;
    max-width: calc(100% - 2em);
    padding: 1em;

    .Content {
        overflow: auto;
        max-height: calc(100vh - 4em);
    }

    > button{
        position: absolute;
        top: 0;
        left: 0;
        width: 10em;
        height: 10em;
        background: $brandColor;
        border: none;
        outline: none;
        cursor: pointer;
        transform: rotate(45deg) translateX(-70%);
        display: flex;
        z-index: 1;

        svg{
            font-size: 3.5em;
            margin: 5px; 
        }

        &:hover{
            background: darken($brandColor, 10%)
        }
    }    
}