@import '../../../assets/scss/global.scss';

.NewSkit{
    width: 400px;
    max-width: 100%;
    height: inherit;
    text-align: right;

    display: flex;
    justify-content: center;
    flex-direction: column;

    form{
        display: grid;
        grid-gap: 1em;
    }
}