@import '../../../assets/scss/global.scss';

.Input{
    .Control{
        background: $lightBkg;
        border-radius: 5px;
        position: relative;
        height: 3.5em;

        input{
            width: 100%;
            background: transparent;
            height: 100%;
            font-size: inherit;
            outline: none;
            border: none;
            padding: 1.5em 15px 0;
        }

        > label{
            color: $brandColor;
            position: absolute;
            transition: all 0.3s ease;
        }

        input:valid + label{
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }

        input:focus + label,
        input:not([value=""]) + label{
            top: 5px;
            transform: translateY(0);
            font-size: 0.85em;
        }
    }

    .ErrorMsg{
        p{
            color: $dangerColor;
        }
    }
}

.MultiSelect{
    .Control{
        input{
            display: none;
        }

        .Submenu{
            display: grid;
            grid-gap: 1em;

            .Group{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                
                .Title{
                    width: 100%;
                    color: $brandColor;
                    text-align: center;

                }

                .Member{
                    margin: 0.5em;

                    &:hover{
                        color: $brandColor;
                    }

                    label{
                        padding: 0.25em 1em;
                        display: block;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        border: 1px solid transparent;
                        background: $lightBkg;
                        border-radius: 5px;

                        &.Selected{
                            border-color: $brandColor;
                            color: $brandColor;
                        }
                    }
                }
            }
        }
    }
}